*{

}
.container{
    display:flex;
    flex-direction: column;
    width: 50vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    font-size: 20px;
    background-color: blueviolet;
    border: black 5px solid;
    padding: 5px;
    z-index: 100;


}
.image{
    background-image: url("/images/bob-ghost-ZmLXBRfjSpo-unsplash.jpg");
    background-size: 1370px 700px;
    background-repeat: no-repeat;

 
}
#check-button{
    color: grey;
    text-decoration:black;
}